<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xamoom-ios-sdk-example-release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xamoom-ios-sdk-example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8801B4C41AA4958F00A9F99F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8801B4C91AA4AA9700A9F99F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>880BE01A1C03587000E97A74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8858D23F1A822513001B45D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8858D2581A822513001B45D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88B94EF41BFF2AB4009735B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F212C81B539F7600FFB6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F212D21B539F7600FFB6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F212ED1B53A44F00FFB6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F212F71B53A44F00FFB6D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
